node_modules/
config.json
.src/sequelize/config/cofig.json
.env
coverage/
test/
*.html
coverage/lcov-report/src/app.js.html
coverage/lcov-report/src/index.html
coverage/lcov-report/src/layers/controllers/auth.controller.js.html
coverage/lcov-report/src/layers/controllers/index.html
coverage/lcov-report/src/layers/controllers/main.controller.js.html
coverage/lcov-report/src/layers/controllers/review.controller.js.html
coverage/lcov-report/src/layers/middlewares/auth.middleware.js.html
coverage/lcov-report/src/layers/middlewares/deleteImage.middleware.js.html
coverage/lcov-report/src/layers/middlewares/image.middleware.js.html
coverage/lcov-report/src/layers/middlewares/index.html
coverage/lcov-report/src/layers/middlewares/isNotSignedIn.middleware.js.html
coverage/lcov-report/src/layers/middlewares/isSignedIn.middleware.js.html
coverage/lcov-report/src/layers/middlewares/refresh.middleware.js.html
coverage/lcov-report/src/layers/repositories/auth.repository.js.html
coverage/lcov-report/src/layers/repositories/index.html
coverage/lcov-report/src/layers/repositories/review.repository.js.html
coverage/lcov-report/src/layers/routers/auth.router.js.html
coverage/lcov-report/src/layers/routers/index.html
coverage/lcov-report/src/layers/routers/index.js.html
coverage/lcov-report/src/layers/routers/main.router.js.html
coverage/lcov-report/src/layers/routers/review.router.js.html
coverage/lcov-report/src/layers/services/auth.service.js.html
coverage/lcov-report/src/layers/services/index.html
coverage/lcov-report/src/layers/services/main.service.js.html
coverage/lcov-report/src/layers/services/review.service.js.html
coverage/lcov-report/src/layers/services/separatecrawling.service.js.html
coverage/lcov-report/src/modules/bcrypt.js.html
coverage/lcov-report/src/modules/index.html
coverage/lcov-report/src/modules/joiStorage.js.html
coverage/lcov-report/src/passport/index.html
coverage/lcov-report/src/passport/index.js.html
coverage/lcov-report/src/passport/kakaoStrategy.js.html
coverage/lcov-report/src/sequelize/config/config.js.html
coverage/lcov-report/src/sequelize/config/index.html
coverage/lcov-report/src/sequelize/models/index.html
coverage/lcov-report/src/sequelize/models/index.js.html
coverage/lcov-report/src/sequelize/models/promise.js.html
coverage/lcov-report/src/sequelize/models/review.js.html
coverage/lcov-report/src/sequelize/models/reviewImage.js.html
coverage/lcov-report/src/sequelize/models/session.js.html
coverage/lcov-report/src/sequelize/models/user.js.html
